<footer class="d-flex justify-between p-3 align-items-center bg-blue-500 row text-center">
    <form class="text-end d-flex flex-col gap-1 col-12 col-sm-12 col-md-4">
        <input placeholder="الايميل المرسل" class="text-end form-control" name="Email">
        <textarea placeholder="الرسالة" class="resize-none h-[50px] form-control text-end" name="Message"></textarea>
        <button type="submit" class="btn btn-danger">ارسال</button>
    </form>
    <p class="text-light fw-bolder col-12 col-sm-12 col-md-4">جميع الحقوق محفوظة للكلية العربية للعلوم التطبيقية</p>
    <img class=" col-12 col-sm-12 col-md-4" width="300" height="300" src="footer-logo.webp" alt="">
</footer>